# =============================================
# ARCHIVO .env  -  CONFIGURACIÓN LOCAL
# =============================================
# INSTRUCCIONES:
#  1. Copia este archivo y renómbralo a  .env
#  2. Pon TUS datos de MySQL
#  3. NUNCA subas el .env a GitHub
# =============================================

DB_USERNAME=root
DB_PASSWORD=tu_contraseña_aqui
